body{
    background-image: url("kkk1.jpg")
    
}

.img {
	padding: 25px;
}
.lmao {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.lmao2 {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
